
@{
  Layout = "_IndexLayout";
}
<section class="section-tiny main-color t-bordered" style="  background: #fff url(../../img/b14-w.jpg) right 0/auto 100% no-repeat; height: 455px; padding-top: 40px;">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-6">

                              
                                <div class="clearfix content-center" style="float:right;">
                                    <h2 class="wod text-center"><strong> Get protection you can trust</strong> </h2>
                                    <ul class="list-inline text-center flex-block  clearfix">
                                        
                                        <li class="item">
                                            <a href="https://custodianplc.com.ng/car-insurance">
                                              <img src="https://custodianplc.com.ng/img/icons/auto-s.png" width="100" />
                                            <p>AUTO</p></a>
                                        </li>
                                        
                                        <li class="item">
                                            <a href="https://custodianplc.com.ng/travel-insurance">
                                              <img src="https://custodianplc.com.ng/img/icons/travel2.png" width="100" class="" />
                                                 <p>TRAVEL</p></a>
                                        </li>
                                        
                                        

                                        <li class="item">
                                            <a href="https://custodianplc.com.ng/safety-plus-plan">
                                              <img src="https://custodianplc.com.ng/img/icons/accident-s.png" width="100" />
                                                 <p>SAFETY PLUS</p></a>
                                        </li>
                                        
                                        <li class="item">
                                          <a href="https://custodianplc.com.ng/events-insurance">
                                            <img src="https://custodianplc.com.ng/img/icons/event-s.png" width="100" />
                                          <p>EVENTS<br />INSURANCE</p></a>
                                        </li>
                                        
                                        <li class="item">
                                            <a href="https://custodianplc.com.ng/trustees-limited">
                                              <img src="https://custodianplc.com.ng/img/icons/wealth-s.png" width="100" />
                                                 <p>WEALTH<br> MANAGEMENT</p>
                                            </a>
                                        </li>

                                        <li class="item">
                                             <a href="https://custodianplc.com.ng/life-products">
                                               <img src="https://custodianplc.com.ng/img/icons/life-n.png" width="100" />
                                                <p>LIFE<br> &nbsp;</p>
                                            </a>
                                        </li>
                                
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </section>
                <div ></div>
                <section  style="background-color: #c3c1c1ab;" class="forgal px-5">
                    <div class="container">

                        <div class="row">
                            <div class="col-md-3 main-radius" >
                                <div class="card main-radius" style="background:#a50505;" id="general">

                                       
                                         <div class="navContainerGeneral hov-radius" style="padding-top: 30px;">
                                           
                                           <div style="color: #ffffff;" style="padding-left: 20px;">
                                        
                                             <ul class="fs-20" style="line-height: 25px;">
                                               <li>Auto Insurance</li>
                                               <li>Travel Insurance</li>
                                               <li>Home Shield</li>
                                               <li>Fire Insurance</li>
                                               
                                             </ul>
                                             <div style="margin-left: 20px;">
                                               <a href="https://custodianplc.com.ng/custodian-and-allied-insurance-limited" class="read-more" style="color: yellow;">View more products & services <span class="read-more-icon -right ion-android-arrow-forward"></span></a>
                                             </div>
                                             
                                          </div>
                                           
                                        </div>                           

                                    <div class="card-body main-radius">
                                        <h4 class="text-center text-white" style="padding-top: 20px;"><a href="https://custodianplc.com.ng/custodian-and-allied-insurance-limited" style="text-decoration: none; color: #ffffff;"> General Insurance </a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 main-radius" >

                                <div class="card main-radius" style="background:#a5a5a5;" id="lifeInsuance">
                                   
                                    <div class="navContainerLifeInsurance hov-radius" style="padding-top: 30px;"> 

                                      <div style="color: #ffffff;" style="padding-left: 20px;">
                                            
                                             <ul class="fs-20" style="line-height: 25px;">
                                                <li>Savings and Investment</li>
                                                <li>Endowment Plan</li>
                                                <li>Protection Plan</li>
                                                <li>Annuity</li>
                                              </ul>
                                             <div style="margin-left: 20px;">
                                               <a href="https://custodianplc.com.ng/custodian-life-assurance-limited" class="read-more" style="color: yellow;">View more products & services <span class="read-more-icon -right ion-android-arrow-forward"></span></a>
                                             </div>
                                      </div>
                                       
                                     </div>         

                                    <div class="card-body main-radius">
                                        <h4 class="text-center text-white" style="padding-top: 20px;"> <a href="https://custodianplc.com.ng/custodian-life-assurance-limited" style="text-decoration: none; color: #ffffff; "> Life Insurance </a></h4>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-2 main-radius" >
                                <div class="card main-radius" style="background:#a50505;" id="trustees">
                                    
                                    <div class="navContainerTrustees hov-radius" style="padding-top: 30px; width: 250px;"> 

                                       <div style="color: #ffffff;" style="padding-left: 20px;">
                                             
                                             <ul class="fs-20" style="line-height: 25px;">
                                                <li>Private Trust</li>
                                                <li>Corporate Trust</li>
                                                <li>Public Trust</li>
                                                <li>Company Secretarial Services</li>
                                              </ul>
                                             <div style="margin-left: 20px;">
                                               <a href="https://custodianplc.com.ng/trustees-limited" class="read-more" style="color: yellow;">View more products & services <span class="read-more-icon -right ion-android-arrow-forward"></span></a>
                                             </div>
                                      </div>
                                       
                                     </div>        
                                    
                                    <div class="card-body main-radius" >
                                        <h4 class="text-center text-white" style="padding-top: 20px;"><a href="https://custodianplc.com.ng/trustees-limited" style="text-decoration: none; color: #ffffff; "> Trustees</a> </h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2 main-radius " >
                                <div class="card main-radius" style=" background:#a5a5a5;" id="pension">
                                   
                                    <div class="navContainerPension hov-radius" style="padding-top: 30px; width: 250px;"> 
                                      <div style="color: #ffffff;" style="padding-left: 20px;">
                                         
                                             <ul class="fs-20" style="line-height: 25px;">
                                                <li>Retirement Savings</li>
                                                <li>Contributions</li>
                                                
                                              </ul>
                                             <div style="margin-left: 20px;">
                                               <a href="http://www.crusaderpensions.com/" target="blank" class="read-more " style="color: yellow;">View more products & services <span class="read-more-icon -right ion-android-arrow-forward"></span></a>
                                             </div>
                                      </div>
                                     
                                     </div>     
                                    <div class="card-body main-radius" >
                                        <h4 class="text-center text-white" style="padding-top: 20px;"> <a href="http://www.crusaderpensions.com/" target="blank" style="text-decoration: none; color: #ffffff; "> Pensions</a></h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2 main-radius " >
                              <div class="card main-radius" style=" background:#a50505;" id="property">
                                 
                                     
                                  <div class="card-body main-radius" >
                                      <h4 class="text-center text-white" style="padding-top: 20px;"> <a href="https://updcplc.com/" target="_blank" style="text-decoration: none; color: #ffffff;">Real Estate</a></h4>
                                  </div>
                              </div>
                            </div>

                        </div>
                    </div>
                </section>


<section class="section-primary main-color t-bordered ">
<div class="empty-s"><br></div>
   <div class="container ">
      <div class="row">
         <div class="col-md-5">
            <div class="mb-10 ">
               <h3 class="special-heading-inner"><span>Customer Care Service</span></h3>
            </div>
            <div class="clearfix"></div>

            <form id='getcall' class="form-inline" method="post" action=https://custodianplc.com.ng/getcall>
                <input name="_token" type="hidden" value="Hony2QJBNWKtMSMHzCU788X1TvJTDtLVhgO17XQz">
                <div class="form-group sig">
                    <label for="tele" class="sr-only">phone no.</label>
                <input maxlength="11" name="Phone_number" type="text" class="form-control" id="tele" placeholder="Enter phone no...">
                </div>
                <a href="#" onclick="document.getElementById('getcall').submit();"  class="btn btn-bordered btn-primary btn-sm btn-rounded btn-bordered-1x">Get a Phone call<i class="fa fa-phone"></i></a>
            </form>
            <p class="space">
                We would love to call you to know what you need. With our dedicated support personnel, you are sure to get a swift response after a call back request. Thank you.
            </p>

         </div>

         <div class="col-md-3 mx-auto my-auto">
            <a href="https://custodianplc.com.ng/claim" class="btn btn-block btn-primary btn-sm btn-rounded btn-bordered-1x">Claim Request</a>
         </div>
        
         <div class="col-md-4">
            <div class="circles">
               <div class="circle-1 circle-pulse">
               </div>
               <div class="circle-2 circle-pulse">
               </div>
               <div class="circle-3 circle-pulse">
               </div>
               <div class="circle-4 circle-pulse">
               </div>
               <a href="tel:23412774000-9">
                  <div class="circle-center" style="color:white; background-color:#a42f33;">
                     <div class="circle-center-tip">Call us: <strong >(+234)12774000-9 </strong></div>
                     <i class="fa fa-phone"></i>
                  </div>
               </a>
            </div>
         </div>
        
      </div>
                  
   </div>
   
   
</section><!-- Managed by start below -->

<div class="row">
	<div class="col-md-4 offset-4 m20">
		<div class="special-heading line center">
			<div class="special-heading-inner"> <span>  <i>Custodian Investment Plc <strong>- RC 171209</strong></i></span></div>
		</div>
	</div>
</div>

