@{
	Layout = "_AutoInsuranceLayout";
}
<!-- breadcrumb navigation -->
<section class="page-header b-bordered t-bordered hpadding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="title mt-5">Car Insurance</h1>

        <nav class="c-breadcrumb-1 -style-icons pull-right">
            <ol class="c-breadcrumb-1-inner">

              <li class="c-breadcrumb-1-item">
                <a href="https://custodianplc.com.ng" class="c-breadcrumb-1-link">
                  <i class="c-breadcrumb-1-icon fa fa-home" aria-hidden="true"></i>
                </a>
              </li>

              <li class="c-breadcrumb-1-item">
                <a href="https://custodianplc.com.ng/car-insurance" class="c-breadcrumb-1-link">
                  <i class="c-breadcrumb-1-icon fa fa-file-text-o" aria-hidden="true"></i>
                  Get a quote
                </a>
              </li>
              
              <li class="c-breadcrumb-1-item">
                <a href="https://custodianplc.com.ng/car-insurance" class="c-breadcrumb-1-link">
                  <i class="c-breadcrumb-1-icon fa fa-car" aria-hidden="true"></i>
                  Auto Insurance
                </a>
              </li>
            </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
	<style>

					#modal {
						display: none;
						overflow: hidden;
					}

					#modal-overlay {
						display: block;
						position: fixed;
						width: 100%;
						height: 100%;
						background: black;
						opacity: 0.5;
						top: 0;
						left: 0;
						z-index: 999998;
					}

					#modal-container {
						display: block;
						position: fixed;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						z-index: 999998;
						overflow: hidden;
					}

					.modal-main {
					}

					#loader-modal {
						display: block;
						text-align: center;
						margin: 10% auto 0;
					}

						#loader-modal div {
							display: inline-block;
							border-radius: 3px;
							background: white;
							overflow: hidden;
							padding: 70px;
						}

						#loader-modal img {
							display: block;
							width: 150px;
							margin: 0 auto;
						}
				</style>

				<div id="modal">
					<div id="modal-overlay"></div>
					<div id="modal-container">
						<div class="modal-main" id="loader-modal">
							<div>
								<img src="https://custodianplc.com.ng/img/loader.gif">
							</div>
						</div>
					</div>
				</div>
				<section class="section-primary" style="background-color:#ffffff;">

					<div class="container-fluid padform" style="padding-top:15px; padding-left:100px;">

						<div class="stepwizard col-md-7 formtop-width">
							<div class="stepwizard-row setup-panel">
								<div class="stepwizard-step">
									<a class="btn btn-default btn-circle disable btn-active" href="#step-1" type="button">1</a>
									<p>Personal</p>
								</div>
								<div class="stepwizard-step">
									<a disabled="disabled" class="btn btn-default btn-circle disable btn-active" href="#step-2" type="button">2</a>
									<p>Car details</p>
								</div>
								<div class="stepwizard-step">
									<a disabled="disabled" class="btn btn-primary btn-circle disable btn-active" href="#step-3" type="button">3</a>
									<p>Summary</p>
								</div>
							</div>
						</div>

					</div>
					<div class="container-fluid padform" style="padding-left:100px;">
						<div class="row">

							<div class="col-md-7 form-sha" style="">
								<!-- Page form starts here  -->
								<form role="form"
											id="myForm"
											action="CarDetails"
											method="post"
											class="smart-forms"
											enctype="multipart/form-data">
								<!-- Step 3 :  -->
									<div class="row setup-content pady no-show" id="step-3">
										<div class="col-md-12" style="margin-top: 10px;">
											<div class="col-md-12">
												<section class="section-primary pt-none">
													<div class="container">
														<div class="row">
															<!-- <div class="col-md-12" style="padding-top: 30px;"></div> -->
															<div class="col-md-12 mt-5" style="margin-top:40px;">
																<table class="table table-bordered">
																	<thead>
																		<tr>
																			<th style="font-size: 16px;">
																				Quotation Detail
																			</th>
																			<th style="font-size: 16px;">

																			</th>
																		</tr>
																	</thead>

																	<tbody>

																		<tr>
																			<td><strong>Client Name: </strong></td>
																			<td><span id="pre_client_name"></span></td>
																		</tr>
																		<tr>
																			<td><strong>Product Category: </strong></td>
																			<td><span>Car Insurance</span></td>
																		</tr>
																		<tr>
																			<td><strong>Product Name: </strong></td>
																			<td><span id="pre_products"></span></td>
																		</tr>
																		<tr>
																			<td><strong>Payments Frequency: </strong></td>
																			<td> <span id="pre_payment_option"></span> </td>
																		</tr>
																		<tr>
																			<td><strong>Start Date: </strong></td>
																			<td> <span id="pre_insurance_start_date"></span> </td>
																		</tr>
																		<tr>
																			<td><strong>Vehicle Value: </strong></td>
																			<td><span id="pre_vehicle_value"></span></td>
																		</tr>
																		<tr>
																			<td><strong>Premium Amount </strong></td>
																			<td><span id="pre_sum_assured"></span></td>
																		</tr>

																		<table>
																			<tr>
																				<td>
																					<p style="text-align: center;">
																						If you have questions about the status of your quotation, please contact:
																						carecentre@custodianinsurance.com
																					</p>
																				</td>
																			</tr>
																		</table>

																	</tbody>
																</table>

																<div id="comprehensive-download-button" class="text-right">
																	<a class="btn standard grey btn-icon-reveal"
																		 href="javascript:;"
																		 onclick="downloadQuote();">
																		<i class="fa fa-download"></i>
																		<span class="text">Download Quote</span>
																	</a>
																</div>

																<nav id="tp-and-ft-buttonset"
																		 class="c-breadcrumb-1 c-breadcrumb-1-onCheckout -style-icons pull-right">
																	<ol class="c-breadcrumb-1-inner">
																		<li class="c-breadcrumb-1-item">
																			<a href="javascript:;"
																				 onclick="downloadQuote();"
																				 class="c-breadcrumb-1-link">
																				<i class="c-breadcrumb-1-icon fa fa-download" aria-hidden="true"></i>
																				Download Quote
																			</a>
																		</li>

																		<li class="c-breadcrumb-1-item">
																			<a href="javascript:;"
																				 onclick="sendQuote();"
																				 class="c-breadcrumb-1-link">
																				<i class="c-breadcrumb-1-icon fa fa-envelope" aria-hidden="true"></i>
																				Email Quote
																			</a>
																		</li>
																	</ol>
																</nav>

															</div>
														</div>
													</div>
												</section>

												<div class="col-md-12 pady" style="margin-bottom: 15px">
													<div class="row">
														<div class="col-6">
															<button class="btn btn-primary btn-class prevBtn pull-left" type="button">Previous</button>
														</div>
														<div class="col-6">

															<span id="base-email-quote-container">
																<a class="btn standard color1 btn-icon-reveal pull-right"
																	 href="javascript:;"
																	 onclick="sendQuote();">
																	<i class="fa fa-envelope"></i>
																	<span style="color:white;" class="text">Submit Request Quote</span>
																</a>
															</span>

															<button style="color: #fff;"
																			id="buy-now-button"
																			class="btn btn-success btn-class pull-right color1"
																			type="submit">
																Buy Now!
															</button>

														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									</form>
									</div>
									@await Html.PartialAsync("_AutoInsuranceSideDetails")
									</div>
									</div>
					</section>