@using CustodianPlc.Models
@{
	Layout = "_AutoInsuranceLayout";
	@model VehicleViewModel
}
<!-- breadcrumb navigation -->
<section class="page-header b-bordered t-bordered hpadding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="title mt-5">Car Insurance</h1>

        <nav class="c-breadcrumb-1 -style-icons pull-right">
            <ol class="c-breadcrumb-1-inner">

              <li class="c-breadcrumb-1-item">
                <a href="https://custodianplc.com.ng" class="c-breadcrumb-1-link">
                  <i class="c-breadcrumb-1-icon fa fa-home" aria-hidden="true"></i>
                </a>
              </li>

              <li class="c-breadcrumb-1-item">
                <a href="https://custodianplc.com.ng/car-insurance" class="c-breadcrumb-1-link">
                  <i class="c-breadcrumb-1-icon fa fa-file-text-o" aria-hidden="true"></i>
                  Get a quote
                </a>
              </li>
              
              <li class="c-breadcrumb-1-item">
                <a href="https://custodianplc.com.ng/car-insurance" class="c-breadcrumb-1-link">
                  <i class="c-breadcrumb-1-icon fa fa-car" aria-hidden="true"></i>
                  Auto Insurance
                </a>
              </li>
            </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
	<style>

					#modal {
						display: none;
						overflow: hidden;
					}

					#modal-overlay {
						display: block;
						position: fixed;
						width: 100%;
						height: 100%;
						background: black;
						opacity: 0.5;
						top: 0;
						left: 0;
						z-index: 999998;
					}

					#modal-container {
						display: block;
						position: fixed;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						z-index: 999998;
						overflow: hidden;
					}

					.modal-main {
					}

					#loader-modal {
						display: block;
						text-align: center;
						margin: 10% auto 0;
					}

						#loader-modal div {
							display: inline-block;
							border-radius: 3px;
							background: white;
							overflow: hidden;
							padding: 70px;
						}

						#loader-modal img {
							display: block;
							width: 150px;
							margin: 0 auto;
						}
				</style>

				<div id="modal">
					<div id="modal-overlay"></div>
					<div id="modal-container">
						<div class="modal-main" id="loader-modal">
							<div>
								<img src="https://custodianplc.com.ng/img/loader.gif">
							</div>
						</div>
					</div>
				</div>
				<section class="section-primary" style="background-color:#ffffff;">

					<div class="container-fluid padform" style="padding-top:15px; padding-left:100px;">

						<div class="stepwizard col-md-7 formtop-width">
							<div class="stepwizard-row setup-panel">
								<div class="stepwizard-step">
									<a class="btn btn-default btn-circle disable btn-active" href="#step-1" type="button">1</a>
									<p>Personal</p>
								</div>
								<div class="stepwizard-step">
									<a disabled="disabled" class="btn btn-primary btn-circle disable btn-active" href="#step-2" type="button">2</a>
									<p>Car details</p>
								</div>
								<div class="stepwizard-step">
									<a disabled="disabled" class="btn btn-default btn-circle disable btn-active" href="#step-3" type="button">3</a>
									<p>Summary</p>
								</div>
							</div>
						</div>

					</div>
					<div class="container-fluid padform" style="padding-left:100px;">
						<div class="row">

							<div class="col-md-7 form-sha" style="">
								<!-- Page form starts here  -->
								<form role="form"
											id="myForm"
											asp-action="VehicleDetails"
											asp-antiforgery="true"
											method="post"
											class="smart-forms"
											enctype="multipart/form-data">
							<!-- Step 2 : Vehicle details -->
									<div class="row setup-content pady" id="step-2">
										<div class="col-md-12">
											<h3 class="text-center fontn">Vehicle Details</h3>
											<div class="smart-forms">
												<div class="frm-row">
													<div class="colm colm4">
														<div class="section">
															<label for="type_of_cover" class="field-label">Type of Cover</label>
															<label class="field select">
																<select id="type_of_cover"
																				name="TypeOfCover"
																				value = "@Model?.TypeOfCover">
																	<option value="Third Party" selected>Third Party </option>
																	<option value="Third Party Fire and Theft">Third Party Fire and Theft</option>
																	<option value="Comprehensive">Comprehensive </option>
																</select>
																<i class="arrow double"></i>
                               <span asp-validation-for="TypeOfCover" style="display: block"></span>
															</label>
														</div>
													</div>

													<div class="colm colm4">
														<div class="section">
															<label for="Vehicle_Category" class="field-label">Vehicle Category</label>
															<label class="field select">
																<select id="Vehicle_Category"
																				name="VehicleCategory"
																				required
																value = "@Model?.VehicleCategory">
																	<option>Select</option>
																	<option selected value="Private">Private</option>
																	<option value="Commercial">Commercial (Own Goods/Staff Bus)</option>
																	<option value="Commercial (Truck)">Commercial (Truck/General Cartage)</option>
																</select>
																<i class="arrow double"></i>
																<span asp-validation-for="VehicleCategory" style="display: block"></span>
															</label>
														</div>
													</div>

													<div class="colm colm4">
														<div class="section">
															<label for="vehicle_value" class="field-label">Vehicle value (₦)</label>
															<label class="field">
																<input onchange="changePremium()"
																			 onkeypress='return event.charCode >= 48 && event.charCode <= 57'
																			 type="number"
																			 name="vehicleValue"
																			 value="@Model?.VehicleValue"
																			 id="vehicle_value"
																			 class="gui-input"
																			 required
																			 placeholder="vehicle value">
																			 <span asp-validation-for="VehicleValue" style="display: block"></span>
															</label>
														</div>
													</div>
													<!-- CLEAR FIX -->
													<div class="colm colm4">
														<div class="section">
															<input type="hidden"
																		 id="hidden-payment-option"
																		 value="">
															<label for="payment_option" class="field-label">Payment Option</label>
															<label class="field select">
																<select id="payment_option" name="PaymentOption"
																	value="@Model?.PaymentOption">
																	<option value="Annually">Annually</option>
																	<option value="Bi-Annually">Bi-Annually</option>
																	<option value="Quarterly">Quarterly</option>
																</select>
																<i id="payment_option-arrows" class="arrow double"></i>
																<span asp-validation-for="PaymentOption" style="display: block"></span>
															</label>
														</div>
													</div>

													<div class="colm colm4">
														<div class="section">
															<label for="vehicle_make" class="field-label">Vehicle Make (Toyota)</label>
															<label class="field select">
																<select id="vehicle_make"
																				name="VehicleMake"
																				required
																value="@Model?.VehicleMake">
																	<option value="">Select Make</option>
																	<option value='Toyota'>Toyota</option>
																	<option value='Nissan'>Nissan</option>
																	<option value='Buick'>Buick</option>
																	<option value='Holden'>Holden</option>
																	<option value='Dodge'>Dodge</option>
																	<option value='Lotus'>Lotus</option>
																	<option value='Acura'>Acura</option>
																	<option value='Cadillac'>Cadillac</option>
																	<option value='Eagle'>Eagle</option>
																	<option value='Geo'>Geo</option>
																	<option value='GMC'>GMC</option>
																	<option value='HUMMER'>HUMMER</option>
																	<option value='Hyundai'>Hyundai</option>
																	<option value='Infiniti'>Infiniti</option>
																	<option value='Isuzu'>Isuzu</option>
																	<option value='Jaguar'>Jaguar</option>
																	<option value='Jeep'>Jeep</option>
																	<option value='Oldsmobile'>Oldsmobile</option>
																	<option value='Saturn'>Saturn</option>
																	<option value='Volvo'>Volvo</option>
																	<option value='Chevrolet'>Chevrolet</option>
																	<option value='Porsche'>Porsche</option>
																	<option value='Honda'>Honda</option>
																	<option value='Subaru'>Subaru</option>
																	<option value='Mazda'>Mazda</option>
																	<option value='Mitsubishi'>Mitsubishi</option>
																	<option value='Lexus'>Lexus</option>
																	<option value='BMW'>BMW</option>
																	<option value='Volkswagen'>Volkswagen</option>
																	<option value='Lincoln'>Lincoln</option>
																	<option value='Suzuki'>Suzuki</option>
																	<option value='Mercedes-Benz'>Mercedes-Benz</option>
																	<option value='Mercury'>Mercury</option>
																	<option value='Saab'>Saab</option>
																	<option value='Pontiac'>Pontiac</option>
																	<option value='Lamborghini'>Lamborghini</option>
																	<option value='Audi'>Audi</option>
																	<option value='Kia'>Kia</option>
																	<option value='Land Rover'>Land Rover</option>
																	<option value='Chrysler'>Chrysler</option>
																	<option value='Ford'>Ford</option>
																	<option value='Plymouth'>Plymouth</option>
																	<option value='Corbin'>Corbin</option>
																	<option value='Daewoo'>Daewoo</option>
																	<option value='Maserati'>Maserati</option>
																	<option value='MINI'>MINI</option>
																	<option value='Panoz'>Panoz</option>
																	<option value='Rolls-Royce'>Rolls-Royce</option>
																	<option value='Spyker Cars'>Spyker Cars</option>
																	<option value='Maybach'>Maybach</option>
																	<option value='Aston Martin'>Aston Martin</option>
																	<option value='Bentley'>Bentley</option>
																	<option value='Scion'>Scion</option>
																	<option value='Spyker'>Spyker</option>
																	<option value='Hummer'>Hummer</option>
																	<option value='Ferrari'>Ferrari</option>
																	<option value='Morgan'>Morgan</option>
																	<option value='Peugeot'>Peugeot</option>
																	<option value='Foose'>Foose</option>
																	<option value='Aptera'>Aptera</option>
																	<option value='Smart'>Smart</option>
																	<option value='Bugatti'>Bugatti</option>
																	<option value='Tesla'>Tesla</option>
																	<option value='Ram'>Ram</option>
																	<option value='FIAT'>FIAT</option>
																	<option value='Fiat'>Fiat</option>
																	<option value='McLaren'>McLaren</option>
																	<option value='Citroën'>Citroën</option>
																	<option value='Hillman'>Hillman</option>
																	<option value='Austin'>Austin</option>
																	<option value='Fillmore'>Fillmore</option>
																	<option value='Fairthorpe'>Fairthorpe</option>
																	<option value='Studebaker'>Studebaker</option>
																	<option value='Rambler'>Rambler</option>
																	<option value='Jensen'>Jensen</option>
																	<option value='Shelby'>Shelby</option>
																	<option value='MG'>MG</option>
																	<option value='Renault'>Renault</option>
																	<option value='Merkur'>Merkur</option>
																	<option value='Alfa Romeo'>Alfa Romeo</option>
																	<option value='Daihatsu'>Daihatsu</option>
																</select>
																<i class="arrow double"></i>
																<span asp-validation-for="VehicleMake" style="display: block"></span>
															</label>
														</div>
													</div>

													<div class="colm colm4">
														<div class="section">
															<label for="type_of_cover" class="field-label">Model of Vehicle (Camry)</label>
															<label class="field select">
																<select id="mode_of_vehicle"
																				required
																				name="VehicleModel"
																				value="@Model?.VehicleModel">
																	<option selected value="">Select a vehicle make first</option>
																</select>
																<i class="arrow double"></i>
																<span asp-validation-for="VehicleModel" style="display: block"></span>
															</label>
														</div>
													</div>

													<!-- CLEAR FIX -->





													<div class="colm colm4">
														<div class="section">
															<label for="registration_number" class="field-label">Registration No.</label>
															<label class="field">
																<input type="text"
																			 name="RegistrationNumber"
																			 value="@Model?.RegistrationNumber"
																			 id="registration_number"
																			 class="gui-input"
																			 placeholder="Registration number"
																			 required>
																			 <span asp-validation-for="RegistrationNumber" style="display: block"></span>
															</label>
														</div>
													</div>

													<div class="colm colm4">
														<div class="section">
															<label for="chassis_no" class="field-label">Chasis No.</label>
															<label class="field">
																<input type="text"
																			 name="ChasisNo"
																			 value="@Model?.ChasisNo"
																			 id="chassis_no"
																			 class="gui-input"
																			 placeholder="Chasis number"
																			 required>
																			 <span asp-validation-for="ChasisNo" style="display: block"></span>
															</label>
														</div>
													</div>

													<!-- CLEAR FIX -->


													<div class="colm colm4">
														<div class="section">
															<label for="engine_number" class="field-label">Engine number</label>
															<label class="field">
																<input type="text"
																			 name="EngineNumber"
																			 value="@Model?.EngineNumber"
																			 id="engine_number"
																			 class="gui-input"
																			 placeholder="engine number">
																			 <span asp-validation-for="EngineNumber" style="display: block"></span>
															</label>
														</div>
													</div>

													<div class="colm colm4">
														<div class="section">
															<label for="year_of_make" class="field-label">Year of Make</label>
															<label class="field select" required>
																<select class="form-control" id="year_of_make" required="required" value="@Model?.YearOfMake" name="YearOfMake"><option value="" selected="selected">Select</option><option value="1997">1997</option><option value="1998">1998</option><option value="1999">1999</option><option value="2000">2000</option><option value="2001">2001</option><option value="2002">2002</option><option value="2003">2003</option><option value="2004">2004</option><option value="2005">2005</option><option value="2006">2006</option><option value="2007">2007</option><option value="2008">2008</option><option value="2009">2009</option><option value="2010">2010</option><option value="2011">2011</option><option value="2012">2012</option><option value="2013">2013</option><option value="2014">2014</option><option value="2015">2015</option><option value="2016">2016</option><option value="2017">2017</option></select>
																<i class="arrow double"></i>
																<span asp-validation-for="YearOfMake" style="display: block"></span>
															</label>
														</div>
													</div>

													<div class="colm colm4">
														<div class="section">
															<label for="car_body_type" class="field-label">Car body type</label>
															<label class="field select">
																<select class="form-control" required="required" id="car_body_type" value="@Model?.CarBodyType" name="CarBodyType"><option value="Saloon Car">Saloon Car</option><option value="SUV">SUV (Jeep)</option></select>
																<i class="arrow double"></i>
																<span asp-validation-for="CarBodyType" style="display: block"></span>
															</label>
														</div>
													</div>

													<!-- CLEAR FIX -->
													<div class="colm colm4">
														<div class="section">
															<label for="insurance_start_date" class="field-label">Insurance start date</label>
															<label class="field">
																<input type="text"
																			 name="InsuranceStartDate"
																			 id="insurance_start_date"
																			 class="gui-input datepicker-here"
																			 data-language="en"
																			 data-date-format="yyyy-mm-dd"
																			 readonly="true"
																			 value="@Model?.InsuranceStartDate"
																			 placeholder="yyyy-mm-dd"
																			 required>
																			 <span asp-validation-for="InsuranceStartDate" style="display: block"></span>
															</label>
														</div>
													</div>

													<div class="colm colm4">
														<div class="section">
															<label for="vehicle_color" class="field-label">Vehicle Color</label>
															<label class="field select">
																<select id="vehicle_color"
																				name="VehicleColor"
																				value="@Model?.VehicleColor"
																				required>
																	<option value="black"> Black</option>
																	<option value="silver"> Silver</option>
																	<option value="grey"> Grey</option>
																	<option value="white"> White</option>
																	<option value="Blue"> Blue</option>
																	<option value="red"> Red</option>
																	<option value="brown"> Brown</option>
																	<option value="green"> Green</option>
																	<option value="yellow"> Yellow/Gold</option>
																	<option value="others"> Others </option>
																</select>
																<i class="arrow double"></i>
																<span asp-validation-for="VehicleColor" style="display: block"></span>
															</label>
														</div>
													</div>

													<div class="colm colm4">
														<div class="section">
															<label for="total" class="field-label">Total Cost (Premium)</label>
															<label class="field">
																<input readonly="readonly"
																			 value="@Model?.Total"
																			 type="text"
																			 name="Total"
																			 id="total"
																			 class="gui-input"
																			 style="font-weight: 1000;background-color: #a50505;color: white;font-size: 18px;"
																			 required>
																			 <span asp-validation-for="Total" style="display: block"></span>
															</label>
														</div>
													</div>
													<div class="colm colm4">
														<div class="section">
															<label for="calculate" class="field-label">&nbsp;</label>
															<label class="field">
																<span class="pull-center"
																			style="display:block;width:100%;">
																	<a class="btn standard btn-icon-reveal pull-right"
																		 href="javascript:;"
																		 onclick="calculatePremium()"
																		 style="width:100%; background: #626262"
																		 id="calculate-button">
																		<i class="fa fa-calculator"></i>
																		<span style="color:white;" class="text">Calculate</span>
																	</a>
																</span>
															</label>
														</div>
													</div>
												</div>
												<div id="buy_extension_section">
													<div class="row">
														<div class="col-md-6">
															<div class="section switch-pad">
																<label class="switch block">
																	<input onchange="toggle();" type="checkbox" name="GroupTravel" id="group_checkbox">
																	<span class="switch-label" data-on="YES" data-off="NO"></span>
																	<span>Buy Extension</span>
																</label>
															</div>
														</div>
														<!-- Just to fill the right column -->
														<div class="col-md-6"></div>
													</div>
													<div style="display:none;" id="extentions-list">
														<div class="row">
															<div class="col-md-4">
																<label class="option block">
																	<input onchange="changePremium()" type="checkbox" name="excess" id="ext1">
																	<span class="checkbox"></span>
																	Excess
																</label>
															</div>
															<div class="col-md-4">
																<label class="option block">
																	<input onchange="changePremium()" type="checkbox" name="tracking" id="ext2">
																	<span class="checkbox"></span>
																	Tracking
																</label>
															</div>
															<div class="col-md-4">
																<label class="option block">
																	<input onchange="changePremium()" type="checkbox" name="flood" id="ext3">
																	<span class="checkbox"></span>
																	Flood
																</label>
															</div>
															<br><br>
															<div class="col-md-4">
																<label class="option block">
																	<input onchange="changePremium()" type="checkbox" name="srcc" id="ext4">
																	<span class="checkbox"></span>
																	SRCC
																</label>
															</div>
														</div>
													</div>
												</div>
												<br>
												<a class="btn btn-primary prevBtn btn -class pull-left" asp-action="PersonalInformation">Previous</a>
												<button class="btn btn-primary btn-class pull-right"
																id="vehicleNext"
																type="submit"
																style="margin-bottom: 15px"
												asp-action="VehicleDetails">
													Next
												</button>
											</div>
										</div>
									</div>
									</form>
									</div>
									@await Html.PartialAsync("_AutoInsuranceSideDetails")
									</div>
									</div>
					</section>