<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Best Car Insurance in Nigeria - Get a Quote Online</title>
	<link rel="canonical" href="https://custodianplc.com.ng/car-insurance" />
	<meta name="description" content="Custodian Motor Insurance provide policyholders protection for accidental loss or damage to their business or personal motor vehicles, motorcycles, trailers as well as cover for bodily injury to third parties and damage to their property." />
	<meta property="og:type" content="article" />
	<meta property="article:publisher" content="http://www.facebook.com/custodianplc" />
	<meta property="og:title" content="Best Car Insurance In Nigeria – Get a Quote Online." />
	<meta property="og:description" content="Custodian Motor Insurance provide policyholders protection for accidental loss or damage to their business or personal motor vehicles, motorcycles, trailers as well as cover for bodily injury to third parties and damage to their property." />
	<meta property="og:url" content="https://custodianplc.com.ng/car-insurance" />
	<meta name="twitter:title" content="Car Insurance in Nigeria – Get a Quote Online." />
	<meta name="twitter:description" content="Custodian Motor Insurance provide policyholders protection for accidental loss or damage to their business or personal motor vehicles, motorcycles, trailers as well as cover for bodily injury to third parties and damage to their property." />
	<meta name="keywords" content="vehicle, bikes, third party, comprehensive, fire, theft, vehicle tracker, liability, indemnify, auto, damage, accidents, excess buy back, property, towing, flood, replacement costs,  medical expenses, bodily injury, death, car accessories, repairs, buy third party insurance in Nigeria, motor insurance in Nigeria, auto insurance quote, get a quote online, third party insurance, third party motor insurance plan, trailers, motorcycles, claim, quotes, insurance company in Nigeria, quick motor insurance, quick insurance, third party insurance policy, third party car insurance, motor insurance, auto insurance companies, car insurance, car insurance in nigeria, auto insurance in Nigeria, comprehensive motor insurance, premium discount, comprehensive insurance, comprehensive car insurance, comprehensive insurance policy, car insurance discount, insurance auto discount, auto insurance companies, car insurance,  motor insurance discount, third party fire and theft insurance,      motor comprehensive        auto insurance companies, insurance motor insurance, motor insurance for Uber, motor insurance for Taxify, special car insurance, motor insurance types" />

	<meta name="author" content="custodianplc.com.ng">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="shortcut icon" href="https://custodianplc.com.ng/img/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" href="img/apple-touch-icon.png">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600" rel="stylesheet">

	<!-- Vendor CSS -->



	<link rel="stylesheet" href="~/vendor/tether/tether.min.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
	<link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9">


	<link rel="stylesheet" href="~/vendor/node_modules/sweetalert2/dist/sweetalert2.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9">

	<link rel="stylesheet" href="~/vendor/font-awesome/css/font-awesome.min.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9">
	<link rel="stylesheet" href="~/vendor/bootstrap/css/glyphicon.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
	<link rel="stylesheet" href="~/vendor/ion-icons/css/ionicons.min.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
	<link rel="stylesheet" href="~/vendor/cubeportfolio/css/cubeportfolio.min.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
	<link rel="stylesheet" href="~/vendor/owl.carousel/assets/owl.carousel.min.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9">
	<link rel="stylesheet" href="~/vendor/owl.carousel/assets/owl.theme.default.min.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9">
	<link rel="stylesheet" href="~/vendor/dzsparallaxer/dzsparallaxer.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
	<link rel="stylesheet" href="~/vendor/menuzord/css/skins/menuzord-border-top.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
	<link rel="stylesheet" href="~/vendor/menuzord/css/menuzord-animations.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
	<link rel="stylesheet" href="~/vendor/magnific-popup/magnific-popup.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
	<link rel="stylesheet" href="~/vendor/lite-tooltip/css/litetooltip.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />


	<!-- Date Picker -->
	<link rel="stylesheet" href="~/vendor/air-datepicker/datepicker.min.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />


	<!-- Theme CSS -->
	<link href="~/css/style.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
	<link href="~/css/portfolio.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
	<link href="~/css/main-shortcodes.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
	<link href="~/css/shortcodes.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
	<link href="~/css/header.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
	<link rel="stylesheet" href="~/css/custom.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9">
	<link href="~/css/form-element.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
	<link href="~/css/animation.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
	<link href="~/css/responsive.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
	<link href="~/css/utilities.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
	<link href="~/css/skins/default.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
	<link href="~/css/index.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
	<link href="~/css/style4.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" /> 
	<!-- Pricing CSS -->
	<link href="~/vendor/pricing-tables/main.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
	<link href="~/vendor/pricing-tables/responsive.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
	<link href="~/vendor/pricing-tables/style_9.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />

	<!-- Smart-form CSS -->
	<link rel="stylesheet" href="~/css/smart-forms/smart-addons.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
	<link rel="stylesheet" href="~/css/smart-forms/smart-forms.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />


	<!-- Date Picker -->
	<link rel="stylesheet" href="~/css/date-picker/gijgo.min.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />


	<!-- Theme Custom CSS -->

	<link rel="stylesheet" href="~/css/personalStyles/aboutStyle.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9">

	<!-- Style Swicher -->
	<link href="~/vendor/style-switcher/style-switcher.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
	<link href="~/vendor/style-switcher/bootstrap-colorpicker/css/bootstrap-colorpicker.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />

	<link rel="stylesheet" href="~/css/custom.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9">

	<script type="text/javascript">
		window.ef894534534590934545359095345 = "ACCT_sz3jzkttt2xb7jg";
		window.CUSTODIAN_HELPLINE_NUMBER = "(+234)12774008-9";
		window.CUSTODIAN_HELPLINE_EMAIL = "carecentre@custodianinsurance.com";
	</script>
	<style>
		.no-show {
			display: none;
		}
	</style>
	<link rel="stylesheet" href="~/css/car.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9">


	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
</head>

<body>

	<div class="wrapper">

		<!--Header-->
		<header class="l-header l-center-t">
			<div class="l-navbar l-navbar_t-light js-navbar-sticky">
				<div class="container">
					<nav class="menuzord js-primary-navigation"
							 data-plugin-menuzord data-plugin-options="{'align': 'right'}"
							 aria-label="Primary Navigation">
						<a href="https://custodianplc.com.ng" class="logo-brand">
							<img class="retina"
									 src="https://custodianplc.com.ng/img/logo-white.png"
									 data-logo="https://custodianplc.com.ng/img/logo-white.png"
									 alt="custodian-logo" />
						</a>

						<ul class="menuzord-menu menuzord-right c-nav_s-standard">
							<li>
								<a href="#">About us</a>
								<ul class="dropdown">
									<li><a href="https://custodianplc.com.ng/about-us">About us</a></li>
									<li>
										<a href="#">Subsidiaries</a>
										<ul class="dropdown">
											<li>
												<a href="https://custodianplc.com.ng/custodian-and-allied-insurance-limited">
													Custodian And Allied Insurance Limited (CAIL)
												</a>
											</li>
											<li>
												<a href="https://custodianplc.com.ng/custodian-life-assurance-limited">
													Custodian Life Assurance Limited (CLA)
												</a>
											</li>
											<li> <a href="https://custodianplc.com.ng/trustees-limited">Custodian Trustees Limited (CTL)</a> </li>
											<li>
												<a href="http://www.crusaderpensions.com/" target="_blank">
													Crusader Sterling Pensions Limited (CSP)
												</a>
											</li>
											<li>
												<a href="https://updcplc.com/" target="_blank">
													UACN Property Development Company Plc. (UPDC)
												</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="#">Investor relations</a>
										<ul class="dropdown">
											<li><a href="https://custodianplc.com.ng/financials">Financials</a></li>
											<li>
												<a target="_blank" href="https://drive.google.com/file/d/10vnich1iLm-sdNQn3wOEvfiOQjIX5pVf/view?usp=sharing">
													Whistle Blowing Policy
												</a>
											</li>
											<li>
												<a target="_blank" href="https://drive.google.com/file/d/1L9iHFwfxpemda0cd8b1DfZAxJ7xvfqLg/view?usp=sharing">
													Securities Trading Policy
												</a>
											</li>
											<li>
												<a target="_blank" href="https://drive.google.com/file/d/1TyDbOqkNYEeyaOB94oFNmiNQJzxzwd0p/view?usp=sharing">
													Stakeholder Management and Communication Policy
												</a>
											</li>
											<li>
												<a target="_blank" href="https://drive.google.com/file/d/1oE8utyfuBCdjgN4-sFW1IYtRvYxV39EQ/view?usp=sharing">
													Complaints Management Policy
												</a>
											</li>
											<li>
												<a target="_blank" href="https://drive.google.com/file/d/1ijLC_hWwsesYhhSfkDhEvLXknAjuxPVB/view?usp=sharing">
													Notice of AGM by Proxy
												</a>
											</li>
											<li>
												<a target="_blank" href="https://custodianplc.com.ng/investors_uploads/E-DIVIDEND_MANDATE_CARD_CUSTODIAN_INVESTMENT_PLC.pdf">
													E-Dividend Mandate Card
												</a>
											</li>
											<li><a href="https://custodianplc.com.ng/complaint-lodgement">Complaint Lodgement</a></li>
											<li>
												<a target="_blank" href="https://drive.google.com/file/d/1rB__SkV6NFNw5yCMWl9lnwvuEaGJ_XHl/view?usp=sharing">
													Nigerian Code of Corporate Governance
												</a>
											</li>
											<li>

												<a target="_blank" href=" https://youtu.be/N4EdAbNspUE">
													<!-- <a target="_blank" href="http://bit.ly/CustodianAGM2021 "> -->
													AGM Live Streaming
												</a>
											</li>
											<li>
												<a target="_blank" href="https://drive.google.com/file/d/1dWClryEwglCUcAPtSgwG4b-sg5iUGJjr/view?usp=sharing">
													Unclaimed Dividends List
												</a>
											</li>
										</ul>
									</li>
									<li> <a href="https://custodianplc.com.ng/Resource-Center">Resource center</a> </li>
								</ul>
							</li>

							<li class="">
								<a href="#">Products</a>
								<ul class="dropdown">
									<li>
										<a href="#">General Insurance Products</a>
										<ul class="dropdown">
											<li><a class="consent-link" href="https://custodianplc.com.ng/car-insurance"> Auto Insurance</a></li>
											<li><a class="consent-link" href="https://custodianplc.com.ng/travel-insurance">Travel Insurance</a></li>
											<li><a class="consent-link" href="https://custodianplc.com.ng/home-shield">Home Insurance</a></li>
											<li><a class="consent-link" href="https://custodianplc.com.ng/safety-plus-plan">Safety Plus</a></li>
											<li><a class="consent-link" href="https://custodianplc.com.ng/events-insurance">Events Insurance</a></li>
											<li><a href="#">Others</a></li>
										</ul>
									</li>

									<li>
										<a href="#">Life Insurance Products</a>
										<ul class="dropdown ">
											<li>
												<a href="#">Savings & Investment</a>
												<ul class="dropdown">
													<li> <a class="consent-link" href="https://custodianplc.com.ng/capital-builder">Capital Builder</a> </li>
													<li> <a class="consent-link" href="https://custodianplc.com.ng/esusu-shield">Esusu Shield</a> </li>
													<li> <a class="consent-link" href="https://custodianplc.com.ng/personal-provident-plan">Personal Provident Plan</a> </li>
													<li> <a class="consent-link" href="https://custodianplc.com.ng/investment-plus-plan">Investment Plus Plan</a> </li>
													<li> <a class="consent-link" href="https://custodianplc.com.ng/wealth-plus">Wealth Plus Plan</a> </li>
												</ul>
											</li>
											<li>
												<a href="#">Endowment Policies</a>
												<ul class="dropdown">
													<li><a class="consent-link" href="https://custodianplc.com.ng/education-endowment ">Education Endowment</a></li>
													<li><a class="consent-link" href="https://custodianplc.com.ng/life-time-harvest"> Life Time Havest</a></li>
													<li><a class="consent-link" href="https://custodianplc.com.ng/ordinary-endowment">Ordinary Endowment</a></li>
												</ul>
											</li>
											<li>
												<a href="#">Protection</a>
												<ul class="dropdown">
													<li><a class="consent-link" href="https://custodianplc.com.ng/term-assurance">Term Assurance</a></li>
													<li><a class="consent-link" href="https://custodianplc.com.ng/whole-life-assurance">Whole Life Assurance </a></li>
													<li> <a class="consent-link" href="https://custodianplc.com.ng/dignity-plan">Dignity Plan </a></li>
													<li> <a class="consent-link" href="https://custodianplc.com.ng/tuition-protection">Tuition Protection </a></li>
													<li> <a class="consent-link" href="https://custodianplc.com.ng/critical-illness-insurance">Critical Illness Cover </a></li>
												</ul>
											</li>
											<li>
												<a href="#">Annuities</a>
												<ul class="dropdown">
													<li> <a class="consent-link" href="https://custodianplc.com.ng/deferred-annuity-plan">Deferred Anuity</a> </li>
													<li> <a class="consent-link" href="https://custodianplc.com.ng/immediate-annuity-plan">Immediate Annuity</a> </li>
													<li> <a class="consent-link" href="https://custodianplc.com.ng/retiree-annuity-plan">Retiree Life Annuity</a> </li>
												</ul>
											</li>
											<li>
												<a href="#">Corporate</a>
												<ul class="dropdown">
													<li> <a href="https://custodianplc.com.ng/group-credit">Group Credit Life</a> </li>
													<li> <a href="https://custodianplc.com.ng/group-life">Group Life</a> </li>
												</ul>
											</li>
											<li> <a href="https://custodianplc.com.ng/life-products">Others</a> </li>
										</ul>
									</li>

									<li><a href="https://custodianplc.com.ng/trustees-limited">Trustees</a></li>
									<li><a href="https://www.crusaderpensions.com" target="blank">Pensions</a></li>
									<li><a href="https://updcplc.com" target="_blank">Property</a></li>
								</ul>
							</li>

							<li> <a href="https://custodianplc.com.ng/key-moments">Key Moments</a></li>
							<li> <a href="#" target="blank">Careers</a></li>
							<li> <a href="https://custodianplc.com.ng/csr-foundation">CSR </a></li>
							<li> <a href="https://custodianplc.com.ng/claim">Claim </a></li>
							<li>
								<a href="#">Contact</a>
								<ul class="dropdown">

									<li><a href="https://custodianplc.com.ng/contacts">Contact us</a></li>
									<li><a href="https://custodianplc.com.ng/branches">Our Branches</a></li>

								</ul>
							</li>

							<li class="nav-divider" aria-hidden="true"><a href="javascript:void(0)">|</a> </li>
							<li class="social-item">
								<a href="https://twitter.com/CustodianPLC" target="blank" class="tooltips" data-placement="top" data-rel="tooltip" data-original-title="Twitter">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							<li class="social-item">
								<a href="https://facebook.com/CustodianPLC/" target="blank" class="tooltips" data-placement="top" data-rel="tooltip" data-original-title="Facebook">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li class="social-item">
								<a href="https://www.instagram.com/custodianplc" target="blank" class="tooltips" data-placement="top" data-rel="tooltip" data-original-title="Instagram">
									<i class="fa fa-instagram"></i>
								</a>
							</li>
							<li class="btn-item">
								<a href="#" target="blank">
									<div class="btn btn-white btn-shadow btn-bordered btn-bordered-1x">Chat Max</div>
								</a>
							</li>



						</ul>
					</nav>
				</div>
			</div>

			<!-- <script>


							let consentRoutes = [
									"/car-insurance",
									"/travel-insurance",
									"/home-shield",
									"/safety-plus-plan",
									"/events-insurance",
									"/capital-builder",
									"/esusu-shield",
									"/personal-provident-plan",
									"/investment-plus-plan",
									"/wealth-plus",
									"/education-endowment",
									"/life-time-harvest",
									"/ordinary-endowment",
									"/term-assurance",
									"/whole-life-assurance",
									"/dignity-plan",
									"/tuition-protection",
									"/critical-illness-insurance",
									"/deferred-annuity-plan",
									"/immediate-annuity-plan",
									"/retiree-annuity-plan"
							]



							//let crtURL = current navigation url
							let crtURL = window.location.pathname;

							//compare crtURL to the urlContxt in session storage
							let urlContxt = sessionStorage.getItem("curl");
									//if the crtURL is same as urlContxt, do not show pop up
							if(urlContxt?.indexOf(crtURL) != 0){
									//check if the crtURL is within the consentRouteURL
								 let route = consentRoutes.find(x => x == crtURL);
									//if yes show pop-up
									if(route?.length > 0){
											document.getElementById("consent-cover-bnr").style.display = "flex";
									}
									//else dont show
							}

					//save crtURL to urlContxt
					sessionStorage.setItem("curl",crtURL);

					document.getElementById("consent-close-btn").addEventListener('click', function(){
									document.getElementById("consent-cover-bnr").style.display = "none";
							});
							document.getElementById("consent-escape-btn").addEventListener('click', function(){
									document.getElementById("consent-escape-btn").innerHTML = "Redirecting to Home...";
							});
			</script> -->

		</header>        <!--End Header-->

		<div class="page">

			<div class="page-inner p-none no-border">
              @RenderBody()
 
			<footer class="footer stylelamas" style="margin-top:40px;">
				<div class="main">
					<div class="container">
						<div class="row">
							<div class="col-md-4">
								<section>
									<div class="heading">
										<h4 class="title">Newsletter</h4>
									</div>
									<p class="mb-10">
										Please enter your email address to subscribe to our newsletter. Don't worry, you can opt out at anytime.
									</p>

									<div class="clearfix">
										<form action="https://custodianplc.com.ng/newsletter/request" method="POST">
											<input type="hidden" name="_token" value="Hv7CZMalmZjKQc716as1iecSFVuWUGO3lSzl7YGf">
											<div class="input-group">
												<div class="input-group">
													<input required class="form-control" placeholder="Email Address" name="email" id="email" type="email">
												</div>
											</div>
											<button style="display: block; margin-top: 5px"
															type="submit"
															class="btn btn-primary btn-class">
												Subscribe
											</button>
										</form>

										<div class="clearfix social-wrap mt-25">
											<ul class="list-inline">
												<li>
													<a href="https://twitter.com/CustodianPLC" class="asc_twitter clearfix" target="blank">
														<span class="social-icon"><i class="ion-social-twitter"></i></span>
														<div class="meta clearfix">
															<strong class="asc_count">Follow Us</strong>
															<div class="name">on Twitter</div>
														</div>
													</a>
												</li>
												<li>
													<a href="https://facebook.com/CustodianPLC/" class="asc_facebook clearfix" target="blank">
														<span class="social-icon"><i class="ion-social-facebook"></i></span>
														<div class="meta clearfix">
															<strong class="asc_count">Follow Us</strong>
															<div class="name">on Facebook</div>
														</div>
													</a>
												</li>
												<li style="margin-right: 5px;">
													<a href="https://www.instagram.com/custodianplc" class="asc_instagram clearfix" target="blank">
														<span class="social-icon"><i class="ion-social-instagram"></i></span>
														<div class="meta clearfix">
															<strong class="asc_count">Follow Us</strong>
															<div class="name">on Instagram</div>
														</div>
													</a>
												</li>
												<li style="margin-right: 5px;">
													<a href="https://www.linkedin.com/company/custodianplc" class="asc_linkedin clearfix" target="blank">
														<span class="social-icon"><i class="ion-social-linkedin"></i></span>
														<div class="meta clearfix">
															<strong class="asc_count">Follow Us</strong>
															<div class="name">on LinkedIn</div>
														</div>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</section>
							</div>

							<div class="col-md-1"></div>
							<div class="col-md-4">
								<section>
									<div class="heading">
										<h4 class="title">Custodian Investment Plc</h4>
									</div>
									<ul class="list-unstyled">
										<li> <a href="https://custodianplc.com.ng/custodian-and-allied-insurance-limited">Custodian and Allied Insurance Limited (CAIL)</a></li>
										<li> <a href="https://custodianplc.com.ng/custodian-life-assurance-limited">Custodian Life Assurance Limited (CLA)</a></li>
										<li> <a href="https://custodianplc.com.ng/trustees-limited">Custodian Trustees Limited (CTL)</a></li>
										<li> <a href="http://www.crusaderpensions.com/" target="_blank">CrusaderSterling Pensions Limited (CSP)</a> </li>
										<li> <a href="https://updcplc.com/" target="_blank">UACN Property Development Company Plc. (UPDC)</a> </li>

									</ul>
								</section>
							</div>

							<div class="col-md-3">
								<section>
									<div class="heading">
										<h4 class="title">Get In Touch</h4>
									</div>

									<div class="map-img">
										<address>
											<i class="ion-ios-location"></i> <strong> Address</strong><br>
											16A, Commercial Avenue, Sabo, Yaba, Lagos<br>
										</address>
										<abbr title="Phone Number"><strong>Phone:</strong></abbr> (+234)12774000-9<br>
										<abbr title="Email Address"><strong>Email:</strong></abbr> carecentre@custodianinsurance.com<br><br>
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>

				<div class="copyright">
					<div class="container">
						<div class="row">
							<div class="col-sm-6">
								<ul class="list-inline fs-11 mb-none">
									<li><p class="mb-0 fw-6">© 2023 Custodian Investment Plc</p></li>
								</ul>
							</div>
							<div class="col-sm-6">
								<ul class="footer-socials list-inline pull-right mb-none">
									<li> <a href="https://custodianplc.com.ng/privacy-policy" target="_blank">PRIVACY POLICY</a> </li>
									<li><a href="#"> | </a></li>
									<li><a href="https://custodianplc.com.ng/documents/WHISTLE_BLOWING_POLICY.pdf" target="_blank">WHISTLE BLOWING POLICY</a></li>
									<li><a href="#"> | </a></li>
									<li><a href="https://custodianplc.com.ng/whistleblower">WHISTLE BLOWER</a></li>
									<li><a href="#"> | </a></li>
									<li><a href="#">TERMS AND CONDITIONS</a></li>
									<li> | </li>
									<li><a href="https://custodianplc.com.ng/complaints-procedure">COMPLAINTS PROCEDURE</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>
	</div>

	<!-- Vendor -->
	<!-- <script src="https://custodianplc.com.ng/vendor/jquery/jquery-3.2.1.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script> -->
	<script src="~/vendor/jquery/jquery.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gijgo/1.7.0/combined/js/gijgo.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"></script>
	<!-- <script src="https://custodianplc.com.ng/vendor/jquery/jquery.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script> -->
	<script src="~/vendor/jquery/jquery.nav.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
	<script src="~/vendor/jquery/jquery.validate.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
	<script src="~/vendor/jquery.appear/jquery.appear.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
	<script src="~/vendor/jquery.easing/jquery.easing.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
	<script src="~/vendor/jquery-cookie/jquery-cookie.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>

	<script src="~/js/theme.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>


	<script src="~/vendor/air-datepicker/datepicker.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
	<!-- Include English language -->
	<script src="~/vendor/air-datepicker/i18n/datepicker.en.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>


	<script src="~/vendor/inputmask/dist/jquery.mask.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>

	<script src="~/vendor/magnific-popup/jquery.magnific-popup.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
	<script src="~/vendor/modernizr/modernizr.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
	<script src="~/vendor/tether/tether.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
	<script src="~/vendor/bootstrap/js/bootstrap.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
	<script src="~/vendor/menuzord/menuzord.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
	<script src="~/vendor/sticky/jquery.sticky.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
	<script src="~/vendor/isotope/jquery.isotope.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
	<script src="~/vendor/respond/respond.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
	<script src="~/vendor/smoothscroll/smooth.scroll.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
	<script src="~/vendor/images-loaded/imagesloaded.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
	<script src="~/vendor/owl.carousel/owl.carousel.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
	<script src="~/vendor/cubeportfolio/js/jquery.cubeportfolio.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
	<script src="~/vendor/flex-slider/jquery.flexslider-min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
	<script src="~/vendor/dzsparallaxer/dzsparallaxer.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
	<script src="~/vendor/wow/wow.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
	<script src="~/vendor/lite-tooltip/js/litetooltip.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
	<script src="~/js/functions.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>


	<!-- Custom JS -->
	<script src="~/js/custom.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>


	<script src="~/vendor/moment/moment-with-locales.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>

	<!-- Style Swicher -->
	<script src="~/vendor/style-switcher/style.switcher.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" id="styleSwitcherScript" data-base-path="" data-skin-src=""></script>
	<script src="~/vendor/style-switcher/style.switcher.localstorage.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
	<script src="~/js/car.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>


	<script src="~/vendor/node_modules/sweetalert2/dist/sweetalert2.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>

	<script src="~/vendor/sweetalert/sweetalert.all.js"></script>

	<!-- Include all library files -->
	<script src="~/javascript/library/lib_core.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"></script>
	<script src="~/javascript/library/lib_date.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"></script>
	<script src="~/javascript/library/lib_val.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"></script>
	<script src="~/javascript/library/lib_file.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"></script>
	<script src="~/javascript/library/lib_api.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"></script>
	<script src="~/javascript/library/lib_dom.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"></script>
	<script src="~/javascript/library/lib_loader.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"></script>
	<script src="~/javascript/library/lib_currency.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"></script>
	<script src="~/javascript/library/lib_browser.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

	<script>
		$(document).ready(function() {
  $('#vehicle_make').change(function() {
    var selectedMake = $(this).val();
    $.ajax({
      url: 'https://localhost:7041/Sales/AutoInsurance/GetCarModels',
      data: { carName: selectedMake },
      type: 'GET',
      success: function(result) {
    console.log(result); // This should show the list of available models in the console
    //var models = JSON.parse(result);
    //console.log(models); 

    var options = '';
    for(var i = 0; i < result.length; i++) {
        options += '<option value="' + result[i] + '">' + result[i] + '</option>';
    }
    $('#mode_of_vehicle').html(options);
},
      error: function(xhr, status, error) {
        console.log(xhr.responseText);
      }
    });
  });
});

		$('.datepicker').datepicker({
			uiLibrary: 'bootstrap4'
		});

		$(document).on('ready', function () {
			$('.phone_mask').mask("0xxxxxxxxxx", {
				'translation': {
					0: { pattern: /[0]/ },
					x: { pattern: /[0-9]/ },
				}, placeholder: '0xxxxxxxxxx'
			});

			// FIX: TO TRIGGER ON CHANGE WHENEVER A DATE IS SELECTED.
			/* $('.datepicker-here').datepicker({
				onSelect: function(formattedDate, date, inst) {
					$(inst.el).trigger('change');
				}
			}); */
		});

		/*---------------------------------------------------------------
		|	FILE VALIDATION METHOD:
		|----------------------------------------------------------------
		| 	Validates if the file is of the right format and size.
		|	If yes: Preview is shown.
		|	If no: Alert goes off telling the user the input error.
		|--------------------------------------------------------------*/
		var validateFile = function (fileDOM, fileTextDOM, fileSize = 2097152) {
			// This is where the text display input is filled.
			// with the value of the object returned.
			var url = fileDOM.value;
			var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
			if (fileDOM.files && fileDOM.files[0] && fileDOM.files[0].size <= fileSize) {
				if (ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg" || ext == "pdf") {
					$(fileTextDOM).val(fileDOM.value);
					var type = '<img class="img-thumbnail" src="" id="salert_img_preview"  style="max-height:300px;max-width:400px;" />';

					if (ext == "pdf") {
						type = '<iframe src="" id="salert_img_preview" width="400px" height="450px"></iframe>';
					}

					var reader = new FileReader();
					reader.onload = function (e) {
						$('#salert_img_preview').attr('src', e.target.result);
						localStorage.setItem('imgprev_cust_b64', e.target.result);
						// console.log(e.target.result);
					}
					reader.readAsDataURL(fileDOM.files[0]);

					// Show the preview using sweetalert!
					swal({
						title: 'Preview',
						html: type
					});
				} else {
					$(fileTextDOM).val('');
					$(fileDOM).val('');
					swal({
						type: 'error',
						title: 'File format not supported',
						html: '<hr><strong>You can only upload image and pdf files</strong>'
					});
				}
			} else {
				$(fileTextDOM).val('');
				$(fileDOM).val('');
				swal({
					type: 'error',
					title: 'Upload size limit exceeded',
					html: '<hr><strong>Upload size limit is ' + getPrettyFileSize(fileSize) + '</strong>'
				});
			}
		}
		// DONE WITH FILE VALIDATION

		/*--------------------------------------------------------------------
		|	METHOD TO DISPLAY FILE SIZE IN PRETTY FORMAT.
		|	Bytes to any other labelled size.
		|-------------------------------------------------------------------*/
		var getPrettyFileSize = function (fileSize, key = 0) {
			var postfix = ['B', 'KB', 'MB', 'GB', 'TB'];
			if (fileSize < 1024) {
				return fileSize + ' ' + postfix[key];
			} else {
				key++;
				fileSize = (fileSize / 1024);
				return getPrettyFileSize(fileSize, key);
			}
		}

		/*-------------------------------------------------------------
		|	DO THE DATE VALIDATIONS HERE.
		|------------------------------------------------------------*/

		$(document).ready(function () {
			$('.datepicker-here').datepicker({
				onSelect: function (formattedDate, date, inst) {
					$(inst.el).trigger('change');
				}
			});

			$('#date_of_birth, #travellers_date_of_birth, #beneficiary_dob').datepicker({
				maxDate: new Date()
			});

			$('#departure_date, #return_date, #insurance_start_date, #start_date').datepicker({
				minDate: new Date()
			});
		});

		/*-------------------------------------------------------------
		|	END THE DATE VALIDATIONS HERE.
		|------------------------------------------------------------*/
	</script>

	<script type="text/javascript">
		function printThis() {
			$("printMe").printElement();
		}
	</script>

	<script type="text/javascript" language="javascript" src="https://custodiancm.outcess.com:8443/ameyochatjs/ameyo-webchat-integration.js" defer></script>

	<script type="text/javascript" src="/javascript/controllers/ameyo_controller.js" defer></script>


	<!-- <script
		type="text/javascript"
		language="javascript"
		src="https://livechat.drishti.com.mv/ameyochatjs/ameyo-emerge-chat.js"
		async defer
	></script> -->

	<script src="~/js/global/core.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"></script>
	<script src="~/js/global/modal.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"></script>
	<script src="~/js/global/validate.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"></script>
	<script src="~/js/global/ajaxcalls.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"></script>@*

	<script src="https://custodianplc.com.ng/js/car-insurance/ajaxcalls.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"></script>
	<script src="https://custodianplc.com.ng/js/car-insurance/index.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"></script>
*@
	<script>

		// Call ameyo script

		// setUpAmeyoScript();

		/**
		 * The data should be in sync with the template in use
		 */

		/**
		 * Call the ajax api end to download quote and pass routtes and data to it
		 * The data miust contain the template file name without the blade.php
		*/
		function downloadQuote() {
			var quoteData = getQuoteData("Hv7CZMalmZjKQc716as1iecSFVuWUGO3lSzl7YGf");
			GlobalAjaxAPI.callDownloadQuote(
				"https://custodianplc.com.ng/general/quote",
				"https://custodianplc.com.ng/general/quote",
				quoteData
			);
		}

		/**
		 * Call the ajax api end to send quote and pass routtes and data to it
		 * The data miust contain the template file name without the blade.php
		*/

		function sendQuote() {

			runIfComprehensive(function () {
				var leadData = getLeadData("Hv7CZMalmZjKQc716as1iecSFVuWUGO3lSzl7YGf");
				GlobalAjaxAPI.callEndpoint(
					"https://custodianplc.com.ng/general/leadgeneration",
					leadData,
					function () { MODAL.showModal('loader-modal') },
					function (result) {
						// console.log(result);
						MODAL.hideModal();
						$('#submit-quote-button').hide();
						setTimeout(function () {
							window.location = '/car-insurance';
						}, 5000);
					},
					function (error) {
						// console.log(error);
					}
				);
			});

			var quoteData = getQuoteData("Hv7CZMalmZjKQc716as1iecSFVuWUGO3lSzl7YGf");
			GlobalAjaxAPI.callSendQuote(
				"https://custodianplc.com.ng/general/quote/email",
				quoteData
			);
		}

	</script>


	<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
	<script>

		window.cookieconsent.initialise({
			"palette": {
				"popup": {
					"background": "#900000",
					"text": "#ffffff"
				},
				"button": {
					"background": "#a8353a",
					"text": "#ffffff"
				}
			},
			"content": {
				"message": "This site uses cookies to give you the best user experience. By continuing to browse this website, you give consent to the use of cookies. Please read our privacy policy for more information ",
				"link": "here",
				"dismiss": "I Accept",
				"href": "https://custodianplc.com.ng/privacy-policy",
				"target": "_blank"
			}
		});
	</script>
	</body>
	</html>