	<div class="col-md-5">
								<div class="info">
									<div class="overlay-content">
										<h2 style="color:#fff;">Custodian Auto Insurance</h2>
										<hr>
										<div class="content">
											<!--<h3 style="color: #ffffff;">Our Cover Includes:</h3>-->

											<p>
												Custodian Motor Insurance Policy offers you the peace of mind you need while driving on the Nigerian road; knowing that you are covered against repairs or replacement costs in the event of accidents, fire or theft of your vehicle, including medical expenses.
												The policy covers your car, truck, trailer or motorcycles based on the extent or motor insurance type you choose.<br />
											</p>
											<ul>
												<li>
													<p style="text-align: justify">
														<b>Comprehensive Cover</b> – covers against Accidental Damage to insured vehicle, Fire, Theft, Accidental damage to the Third Party’s vehicle, Accidental Damage to property of the Third Party, Death or bodily injury to the Third Party.

													</p>
												</li>

												<li>
													<p style="text-align: justify">
														<b>Third Party Fire & Theft Cover</b> – covers against Accidental damage to only the Third Party’s vehicle, Accidental damage to property of the Third Party, Death or bodily injury to the Third Party, Fire, Theft.

													</p>
												</li>

												<li>
													<p style="text-align: justify">
														<b>Third Party Only Cover</b> – covers against Accidental damage to only the Third Party’s vehicle, Accidental damage to only the Third Party’s property, Death or bodily injury to the Third Party.
													</p>
												</li>
											</ul>
											<div class="panel-group accordion accordion-default" id="accordion">
												<div class="panel panel-default" style="border: none;">
													<div class="panel-heading" style="background-color:#a50505; color: #fff;">
														<h4 class="panel-title" style="background-color:#a50505; color: #fff; border-bottom:solid 1px white;">
															<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" style="background-color:#a50505;color: #fff;">Optional Cover</a>
														</h4>
													</div>

													<div id="collapse1" class="accordion-body collapse" aria-expanded="false" style="background-color:#a50505; color: #fff;">
														<div class="panel-body" style="background-color:#a50505; color: #fff;">
															<div class="su-tabs-pane su-clearfix" style=" display: block;">
																<ul class="text-justify">
																	<li>Vehicle sound/radio and accessories must be specified and are covered for loss or damage.</li>
																	<li>Out-of-Nigeria covers your vehicle where it is temporarily used either for business or private outside NIGERIA BUT WITHIN THE WEST AFRICAN shores provided notice is given to us and the necessary document obtained i.e. The Brown Card. It covers you for your liability to other people where an accident causes death or injury to them or damage to their property and attracts additional premium.</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="panel-group accordion accordion-default" id="accordion">
												<div class="panel panel-default" style="border: none;">
													<div class="panel-heading" style="background-color:#a50505; color: #fff;">
														<h4 class="panel-title" style="background-color:#a50505; color: #fff; border-bottom:solid 1px white;">
															<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" style="background-color:#a50505;color: #fff;">Additional Benefits</a>
														</h4>
													</div>

													<div id="collapse2" class="accordion-body collapse" aria-expanded="false" style="background-color:#a50505; color: #fff;">
														<div class="panel-body" style="background-color:#a50505; color: #fff;">
															<div class="su-tabs-pane su-clearfix" style=" display: block;">
																<ul class="text-justify">
																	<li>Emergency medical expenses in the event accident.</li>
																	<li>Towing Fee is covered up to a maximum limit provided your car is towed to a nearest and reasonable place for safekeeping or repair.</li>
																	<li>Cover for Personal effects in the vehicle following an accident and/or theft up to a maximum limit.</li>
																	<li>Flood, Risk of Strikes, Riots and Civil Commotion – payment of additional premium.</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>