
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Events Insurance in Nigeria – Custodian and Allied Insurance Ltd.</title>

<link rel="canonical" href="https://custodianplc.com.ng/events-insurance"/>
<meta name="description" content="Custodian Events Insurance can help you secure this investment as it protects the Insured against unexpected expenses that could arise as a result of event cancellation, property damage or injury to a Third Party during the event." />
<meta property="og:type" content="article" />
<meta property="article:publisher" content="http://www.facebook.com/custodianplc" />
<meta property="og:title" content=" Events Insurance in Nigeria – Custodian and Allied Insurance Ltd." />
<meta property="og:description" content=" Custodian Events Insurance can help you secure this investment as it protects the Insured against unexpected expenses that could arise as a result of event cancellation, property damage or injury to a Third Party during the event." />
<meta property="og:url" content="https://custodianplc.com.ng/events-insurance" />
<meta name="twitter:title" content=" Events Insurance in Nigeria – Custodian and Allied Insurance Ltd." />
<meta name="twitter:description" content=" Custodian Events Insurance can help you secure this investment as it protects the Insured against unexpected expenses that could arise as a result of event cancellation, property damage or injury to a Third Party during the event." />

<meta name="author" content="custodianplc.com.ng">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="csrf-token" content="2kRwkabfalPOsFvDfXRQjGuy8tEt0AGT0V5UYFwm">
<link rel="shortcut icon" href="https://custodianplc.com.ng/img/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="img/apple-touch-icon.png">

<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600" rel="stylesheet">

<link rel="stylesheet" href="https://custodianplc.com.ng/vendor/tether/tether.min.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
<link rel="stylesheet" href="https://custodianplc.com.ng/vendor/bootstrap/css/bootstrap.min.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9">


<link rel="stylesheet" href="https://custodianplc.com.ng/vendor/node_modules/sweetalert2/dist/sweetalert2.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9">

<link rel="stylesheet" href="https://custodianplc.com.ng/vendor/font-awesome/css/font-awesome.min.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9">
<link rel="stylesheet" href="https://custodianplc.com.ng/vendor/bootstrap/css/glyphicon.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
<link rel="stylesheet" href="https://custodianplc.com.ng/vendor/ion-icons/css/ionicons.min.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
<link rel="stylesheet" href="https://custodianplc.com.ng/vendor/cubeportfolio/css/cubeportfolio.min.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
<link rel="stylesheet" href="https://custodianplc.com.ng/vendor/owl.carousel/assets/owl.carousel.min.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9">
<link rel="stylesheet" href="https://custodianplc.com.ng/vendor/owl.carousel/assets/owl.theme.default.min.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9">
<link rel="stylesheet" href="https://custodianplc.com.ng/vendor/dzsparallaxer/dzsparallaxer.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
<link rel="stylesheet" href="https://custodianplc.com.ng/vendor/menuzord/css/skins/menuzord-border-top.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
<link rel="stylesheet" href="https://custodianplc.com.ng/vendor/menuzord/css/menuzord-animations.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
<link rel="stylesheet" href="https://custodianplc.com.ng/vendor/magnific-popup/magnific-popup.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
<link rel="stylesheet" href="https://custodianplc.com.ng/vendor/lite-tooltip/css/litetooltip.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />

<link href="https://custodianplc.com.ng/css/style.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
<link href="https://custodianplc.com.ng/css/portfolio.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
<link href="https://custodianplc.com.ng/css/main-shortcodes.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
<link href="https://custodianplc.com.ng/css/shortcodes.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
<link href="https://custodianplc.com.ng/css/header.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
<link rel="stylesheet" href="https://custodianplc.com.ng/css/custom.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9">
<link href="https://custodianplc.com.ng/css/form-element.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
<link href="https://custodianplc.com.ng/css/animation.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
<link href="https://custodianplc.com.ng/css/responsive.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
<link href="https://custodianplc.com.ng/css/utilities.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
<link href="https://custodianplc.com.ng/css/skins/default.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
<link href="https://custodianplc.com.ng/css/index.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
<link href="https://custodianplc.com.ng/css/style4.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" <!-- Pricing CSS -->
<link href="https://custodianplc.com.ng/vendor/pricing-tables/main.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
<link href="https://custodianplc.com.ng/vendor/pricing-tables/responsive.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
<link href="https://custodianplc.com.ng/vendor/pricing-tables/style_9.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
<link rel="stylesheet" href="https://custodianplc.com.ng/css/smart-forms/smart-addons.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
<link rel="stylesheet" href="https://custodianplc.com.ng/css/smart-forms/smart-forms.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
<link rel="stylesheet" href="https://custodianplc.com.ng/css/date-picker/gijgo.min.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
<link rel="stylesheet" href="https://custodianplc.com.ng/css/personalStyles/aboutStyle.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9">
<link href="https://custodianplc.com.ng/vendor/style-switcher/style-switcher.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
<link href="https://custodianplc.com.ng/vendor/style-switcher/bootstrap-colorpicker/css/bootstrap-colorpicker.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
<link rel="stylesheet" href="https://custodianplc.com.ng/css/custom.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9">

<!-- Date Picker -->
<link rel="stylesheet" href="https://custodianplc.com.ng/vendor/air-datepicker/datepicker.min.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />

<script type="text/javascript" language="javascript" src="https://custodiancm.outcess.com:8443/ameyochatjs/ameyo-emerge-chat.js" defer></script>

<script type="text/javascript" src="https://custodianplc.com.ng/javascript/controllers/ameyo_controller.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>

<script type="text/javascript">
	window.ef894534534590934545359095345 = "ACCT_sz3jzkttt2xb7jg";
	window.CUSTODIAN_HELPLINE_NUMBER = "(+234)12774008-9";
	window.CUSTODIAN_HELPLINE_EMAIL = "carecentre@custodianinsurance.com";
	window.UPDATE_HASH = "ea92fe88f2f17ff24e4cddc35da5ede9";
</script>

<style>
	.no-show {
		display: none;
	}
</style>  <link rel="stylesheet" href="https://custodianplc.com.ng/css/travel.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9">
<style>
  #summary {
    font-size: 14px;
    line-height: 1.5;
  }

  #summary div.collapse:not(.show) {
      height: 42px !important;
      overflow: hidden;
    
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;  
  }

  #summary div.collapsing {
      min-height: 42px !important;
  }

  #summary a {
    color: #ffffff;
  }

  #summary a.collapsed:after  {
      content: '+ read more';
  }

  #summary a:not(.collapsed):after {
      content: '- read less';
  }
</style>
</head>

<body>

  <style>
  #modal {
    display: none;
    overflow:hidden;
  }

  #modal-overlay {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    top:0;
    left: 0;
    z-index: 999998;
  }

  #modal-container {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: 999998;
    overflow:hidden;
  }

  .modal-main{

  }
  
  #loader-modal {
    display:block;
    text-align:center;
    margin:10% auto 0;
  }

  #loader-modal div {
    display:inline-block;
    border-radius: 3px;
    background:white;
    overflow: hidden;
    padding: 70px;
  }

  #loader-modal img {
    display:block;
    width:150px;
    margin:0 auto;
  }

</style>

@RenderBody()

  <script src="https://custodianplc.com.ng/vendor/sweetalert/sweetalert.all.js"></script>
  <script src="https://custodianplc.com.ng/vendor/jquery/jquery.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/gijgo/1.7.0/combined/js/gijgo.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"
  type="text/javascript"
></script>

<script src="https://custodianplc.com.ng/vendor/jquery/jquery.nav.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="https://custodianplc.com.ng/vendor/jquery/jquery.validate.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="https://custodianplc.com.ng/vendor/jquery.appear/jquery.appear.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="https://custodianplc.com.ng/vendor/jquery.easing/jquery.easing.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="https://custodianplc.com.ng/vendor/jquery-cookie/jquery-cookie.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>

<script src="https://custodianplc.com.ng/vendor/air-datepicker/datepicker.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<!-- Include English language -->
<script src="https://custodianplc.com.ng/vendor/air-datepicker/i18n/datepicker.en.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>

<script src="https://custodianplc.com.ng/vendor/inputmask/dist/jquery.mask.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>

<script src="https://custodianplc.com.ng/vendor/magnific-popup/jquery.magnific-popup.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="https://custodianplc.com.ng/vendor/modernizr/modernizr.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="https://custodianplc.com.ng/vendor/tether/tether.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="https://custodianplc.com.ng/vendor/bootstrap/js/bootstrap.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="https://custodianplc.com.ng/vendor/menuzord/menuzord.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="https://custodianplc.com.ng/vendor/sticky/jquery.sticky.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="https://custodianplc.com.ng/vendor/isotope/jquery.isotope.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="https://custodianplc.com.ng/vendor/respond/respond.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="https://custodianplc.com.ng/vendor/smoothscroll/smooth.scroll.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="https://custodianplc.com.ng/vendor/images-loaded/imagesloaded.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="https://custodianplc.com.ng/vendor/owl.carousel/owl.carousel.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="https://custodianplc.com.ng/vendor/cubeportfolio/js/jquery.cubeportfolio.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="https://custodianplc.com.ng/vendor/flex-slider/jquery.flexslider-min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="https://custodianplc.com.ng/vendor/dzsparallaxer/dzsparallaxer.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="https://custodianplc.com.ng/vendor/wow/wow.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="https://custodianplc.com.ng/vendor/lite-tooltip/js/litetooltip.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="https://custodianplc.com.ng/js/functions.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="https://custodianplc.com.ng/js/theme.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>

<script src="https://custodianplc.com.ng/js/custom.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>

<script src="https://custodianplc.com.ng/vendor/style-switcher/style.switcher.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" id="styleSwitcherScript" data-base-path="" data-skin-src=""></script>
<script src="https://custodianplc.com.ng/vendor/style-switcher/style.switcher.localstorage.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="https://custodianplc.com.ng/js/car.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>


<script src="https://custodianplc.com.ng/vendor/node_modules/sweetalert2/dist/sweetalert2.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>


<script>

$('.datepicker').datepicker({
  uiLibrary: 'bootstrap4' 
});

function printThis(){
  $("printMe").printElement();    
}

</script>


<script src="https://custodianplc.com.ng/vendor/moment/moment-with-locales.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>

<!-- Include all library files -->
<script src="https://custodianplc.com.ng/javascript/library/lib_core.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"> </script>
<script src="https://custodianplc.com.ng/javascript/library/lib_date.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"> </script>
<script src="https://custodianplc.com.ng/javascript/library/lib_val.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"> </script>
<script src="https://custodianplc.com.ng/javascript/library/lib_file.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"> </script>
<script src="https://custodianplc.com.ng/javascript/library/lib_api.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"> </script>
<script src="https://custodianplc.com.ng/javascript/library/lib_dom.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"> </script>
<script src="https://custodianplc.com.ng/javascript/library/lib_loader.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"> </script>
<script src="https://custodianplc.com.ng/javascript/library/lib_currency.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"> </script>
<script src="https://custodianplc.com.ng/javascript/library/lib_browser.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"> </script>

<script src="https://custodianplc.com.ng/javascript/app/browser.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"> </script>
<script src="https://custodianplc.com.ng/javascript/app/modal.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"> </script>
<script src="https://custodianplc.com.ng/javascript/app/api.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"> </script>

<script src="https://custodianplc.com.ng/javascript/parameters/app_parameters.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"></script>
<script src="https://custodianplc.com.ng/javascript/controllers/app_controller.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115610004-1"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'UA-115610004-1');

  	$(document).on('ready', function() {
		$('.phone_mask').mask("0xxxxxxxxxx", {'translation': {
				0: {pattern: /[0]/},
				x: {pattern: /[0-9]/},
			}, placeholder: '0xxxxxxxxxx'});

		// FIX: TO TRIGGER ON CHANGE WHENEVER A DATE IS SELECTED.
		/* $('.datepicker-here').datepicker({
			onSelect: function(formattedDate, date, inst) {
				$(inst.el).trigger('change');
			}
		}); */
	});

	/*--------------------------------------------------------------- 
	|	FILE VALIDATION METHOD:
	|----------------------------------------------------------------
	| 	Validates if the file is of the right format and size.
	|	If yes: Preview is shown.
	|	If no: Alert goes off telling the user the input error.
	|--------------------------------------------------------------*/
	var validateFile = function(fileDOM, fileTextDOM, fileSize=2097152) {
		// This is where the text display input is filled.
		// with the value of the object returned.
		var url = fileDOM.value;
        var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
		if (fileDOM.files && fileDOM.files[0] && fileDOM.files[0].size <= fileSize) {
			if (ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg" || ext == "pdf") {
				$(fileTextDOM).val(fileDOM.value);
				var type = '<img class="img-thumbnail" src="" id="salert_img_preview"  style="max-height:300px;max-width:400px;" />';
		
				if(ext == "pdf") {
					type = '<iframe src="" id="salert_img_preview" width="400px" height="450px"></iframe>';
				}
				
				var reader = new FileReader();
				reader.onload = function (e) {
					$('#salert_img_preview').attr('src', e.target.result);
					// console.log(e.target.result);
				}
				reader.readAsDataURL(fileDOM.files[0]);
			
				// Show the preview using sweetalert!
				swal({
					title: 'Preview',
					html: type
				});
			} else {
				$(fileTextDOM).val('');
				$(fileDOM).val('');
				swal({
					type: 'error',
					title: 'File format not supported',
					html: '<hr><strong>You can only upload image and pdf files</strong>'
				});
			}
		} else {
			$(fileTextDOM).val('');
			$(fileDOM).val('');
			swal({
				type: 'error',
				title: 'Upload size limit exceeded',
				html: '<hr><strong>Upload size limit is ' + getPrettyFileSize(fileSize) + '</strong>'
			});
		}
	}
	// DONE WITH FILE VALIDATION

	var getPrettyFileSize = function(fileSize, key=0) {
		var postfix = ['B','KB', 'MB', 'GB', 'TB'];
		if (fileSize < 1024) {
			return fileSize + ' ' + postfix[key];
		} else {
			key++;
			fileSize = (fileSize / 1024);
			return getPrettyFileSize(fileSize, key);
		}
	}

	/*------------------------------------------------------------- 
	|	DO THE DATE VALIDATIONS HERE.
	|------------------------------------------------------------*/
	
	$(document).ready(function() {
		$('.datepicker-here').datepicker({
			onSelect: function(formattedDate, date, inst) {
				$(inst.el).trigger('change');
			}
		});

		$('#date_of_birth, #travellers_date_of_birth, #beneficiary_dob').datepicker({
			maxDate: new Date()
		});

		$('#departure_date, #return_date, #insurance_start_date, #start_date').datepicker({
			minDate: new Date()
		});
	});

	/*------------------------------------------------------------- 
	|	END THE DATE VALIDATIONS HERE.
	|------------------------------------------------------------*/
</script>

    <script type="text/javascript" src="https://custodianplc.com.ng/javascript/controllers/life_products_index_controller.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script type="text/javascript" src="https://custodianplc.com.ng/javascript/products/life_products/index/config.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script type="text/javascript" src="https://custodianplc.com.ng/javascript/products/life_products/index/handler.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script type="text/javascript" src="https://custodianplc.com.ng/javascript/products/life_products/index/init.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>  <script>
    $(document).on('ready', function() {
        $('#sel_event_holding_type #event_holding_type').on('change', function() {
            if(this.value == "Others") {
                $(this).attr("disabled", true);
                $('#sel_event_holding_type').hide();
                $('#inp_event_holding_type #event_holding_type').attr("disabled", false);
                $('#inp_event_holding_type').show();
            }
        });

        $('#sel_event_type #event_type').on('change', function() {
            if(this.value == "Others") {
                $(this).attr("disabled", true);
                $('#sel_event_type').hide();
                $('#inp_event_type #event_type').attr("disabled", false);
                $('#inp_event_type').show();
            }
        });

        $('#sel_involvement_details #involvement_details').on('change', function() {
            if(this.value == "Others") {
                $(this).attr("disabled", true);
                $('#sel_involvement_details').hide();
                $('#inp_involvement_details #involvement_details').attr("disabled", false);
                $('#inp_involvement_details').show();
            }
        });

        $('#event_date').datepicker({
			minDate: new Date()
		});
    })
</script>;
</body>
</html>