<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Safety Plus Plan – Personal Accident Protection.</title>
    <link rel="canonical" href="https://custodianplc.com.ng/safety-plus-plan" />
    <meta name="description" content="Custodian Safety Plus Plan is a personal accident insurance policy that provides financial assistance to the Insured in the event of an accident." />
    <meta property="og:type" content="article" />
    <meta property="article:publisher" content="http://www.facebook.com/custodianplc" />
    <meta property="og:title" content="Safety Plus Plan – Personal Accident Protection." />
    <meta property="og:description" content="Custodian Safety Plus Plan is a personal accident insurance policy that provides financial assistance to the Insured in the event of an accident. " />
    <meta property="og:url" content="https://custodianplc.com.ng/safety-plus-plan" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="Custodian Safety Plus Plan is a personal accident insurance policy that provides financial assistance to the Insured in the event of an accident." />
    <meta name="twitter:title" content="Safety Plus Plan – Personal Accident Protection." />

    <meta name="author" content="custodianplc.com.ng">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="csrf-token" content="WSIEwTW4ZaWe4ajkRzQAU6XBPRF4zhcpmefWAwUb">
    <link rel="shortcut icon" href="https://custodianplc.com.ng/img/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600" rel="stylesheet">

    <link rel="stylesheet" href="~/vendor/tether/tether.min.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
    <link rel="stylesheet" href="https://custodianplc.com.ng/vendor/bootstrap/css/bootstrap.min.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9">


    <link rel="stylesheet" href="~/vendor/node_modules/sweetalert2/dist/sweetalert2.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9">

    <link rel="stylesheet" href="~/vendor/font-awesome/css/font-awesome.min.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9">
    <link rel="stylesheet" href="~/vendor/bootstrap/css/glyphicon.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
    <link rel="stylesheet" href="~/vendor/ion-icons/css/ionicons.min.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
    <link rel="stylesheet" href="~/vendor/cubeportfolio/css/cubeportfolio.min.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
    <link rel="stylesheet" href="~/vendor/owl.carousel/assets/owl.carousel.min.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9">
    <link rel="stylesheet" href="~/vendor/owl.carousel/assets/owl.theme.default.min.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9">
    <link rel="stylesheet" href="~/vendor/dzsparallaxer/dzsparallaxer.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
    <link rel="stylesheet" href="~/vendor/menuzord/css/skins/menuzord-border-top.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
    <link rel="stylesheet" href="~/vendor/menuzord/css/menuzord-animations.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
    <link rel="stylesheet" href="~/vendor/magnific-popup/magnific-popup.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
    <link rel="stylesheet" href="~/vendor/lite-tooltip/css/litetooltip.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />

    <link href="~/css/style.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
    <link href="~/css/portfolio.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
    <link href="~/css/main-shortcodes.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
    <link href="~/css/shortcodes.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
    <link href="~/css/header.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/custom.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9">
    <link href="~/css/form-element.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
    <link href="~/css/animation.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
    <link href="~/css/responsive.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
    <link href="~/css/utilities.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
    <link href="~/css/skins/default.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
    <link href="~/css/index.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
    <link href="~/css/style4.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" /> <!-- Pricing CSS -->
    <link href="~/vendor/pricing-tables/main.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
    <link href="~/vendor/pricing-tables/responsive.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
    <link href="~/vendor/pricing-tables/style_9.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/smart-forms/smart-addons.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
    <link rel="stylesheet" href="~/css/smart-forms/smart-forms.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
    <link rel="stylesheet" href="~/css/date-picker/gijgo.min.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />
    <link rel="stylesheet" href="~/css/personalStyles/aboutStyle.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9">
    <link href="~/vendor/style-switcher/style-switcher.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
    <link href="~/vendor/style-switcher/bootstrap-colorpicker/css/bootstrap-colorpicker.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/custom.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9">

    <!-- Date Picker -->
    <link rel="stylesheet" href="~/vendor/air-datepicker/datepicker.min.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9" />

    <script type="text/javascript" language="javascript" src="https://custodiancm.outcess.com:8443/ameyochatjs/ameyo-emerge-chat.js" defer></script>

    @*<script type="text/javascript" src="~/javascript/controllers/ameyo_controller.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>*@
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/moneypage.css?hash=ea92fe88f2f17ff24e4cddc35da5ede9">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <style>
        #modal {
            display: none;
            overflow: hidden;
        }

        #modal-overlay {
            display: block;
            position: fixed;
            width: 100%;
            height: 100%;
            background: black;
            opacity: 0.5;
            top: 0;
            left: 0;
            z-index: 999998;
        }

        #modal-container {
            display: block;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 999998;
            overflow: hidden;
        }

        .modal-main {
        }

        #loader-modal {
            display: block;
            text-align: center;
            margin: 10% auto 0;
        }

            #loader-modal div {
                display: inline-block;
                border-radius: 3px;
                background: white;
                overflow: hidden;
                padding: 70px;
            }

            #loader-modal img {
                display: block;
                width: 150px;
                margin: 0 auto;
            }
    </style>

    <style>
        .no-show {
            display: none;
        }

        .btn-brand {
            background-color: #fff;
            border-color: #A50505;
            color: #A50505;
        }

            .btn-brand:hover {
                background-color: #A50505;
                color: #fff;
            }

        .font-title {
            font-family: 'Montserrat', sans-serif;
            color: #A50505;
            font-weight: bold;
            font-size: 28px;
            margin-bottom: 20px;
            text-align: center;
        }

        .cookie-consent-form {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255,255,255,0.8); /* transparent white background */
            z-index: 9999; /* make sure it's on top of other elements */
            display: flex;
            justify-content: center;
            align-items: center;
            overflow-y: scroll;
        }

            .cookie-consent-form .card {
                max-width: 800px;
                margin: 0 20px;
            }

        .shadow {
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
        }

        #summary {
            font-size: 14px;
            line-height: 1.5;
        }

            #summary div.collapse:not(.show) {
                height: 42px !important;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }

        #validation-message {
            display: block;
            max-height: 150px;
            color: red;
        }

        #summary div.collapsing {
            min-height: 42px !important;
        }

        #summary a {
            color: #ffffff;
        }

        #summary a.collapsed:after {
            content: '+ read more';
        }

        #summary a:not(.collapsed):after {
            content: '- read less';
        }
    </style>
    
    @await Html.PartialAsync("_ValidationScriptsPartial")
</head>

<body>

  <style>
      .btn-brand {
          background-color: #fff;
          border-color: #A50505;
          color: #A50505;
      }

      .btn-brand:hover {
          background-color: #A50505;
          color: #fff;
      }

      .font-title {
          font-family: 'Montserrat', sans-serif;
          color: #A50505;
          font-weight: bold;
          font-size: 28px;
          margin-bottom: 20px;
          text-align: center;
      }

      .shadow {
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
      }
  #modal {
    display: none;
    overflow:hidden;
  }

  #modal-overlay {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    top:0;
    left: 0;
    z-index: 999998;
  }

  #modal-container {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: 999998;
    overflow:hidden;
  }

  .modal-main{

  }
 
  #loader-modal {
    display:block;
    text-align:center;
    margin:10% auto 0;
  }

  #loader-modal div {
    display:inline-block;
    border-radius: 3px;
    background:white;
    overflow: hidden;
    padding: 70px;
  }

  #loader-modal img {
    display:block;
    width:150px;
    margin:0 auto;
  }

</style>

<div id="modal">
  <div id="modal-overlay"></div>
  <div id="modal-container">
    <div class="modal-main" id="loader-modal">
  <div>
    <img src="https://custodianplc.com.ng/img/loader.gif" >
  </div>
</div>
  </div>
</div>  <input
  type="hidden"
  route-name="send-template-mail"
  value="https://custodianplc.com.ng/send-template-mail"
>

<input
  type="hidden"
  route-name="save-generated-pdf"
  value="https://custodianplc.com.ng/save-generated-pdf"
>

<input
  type="hidden"
  route-name="download-pdf"
  value="https://custodianplc.com.ng/download-pdf/:path"
>  
 
    <div class="page">
        <div class="page-inner p-none no-border">

            <input type="hidden"
                   route-name="quote.email"
                   value="https://custodianplc.com.ng/quote/email">

            <input type="hidden"
                   route-name="personalaccident.quote.save"
                   value="https://custodianplc.com.ng/safety-plus-plan/quote/save">

            <input type="hidden"
                   route-name="personalaccident.quote.download"
                   value="https://custodianplc.com.ng/safety-plus-plan/quote/download/:filename">
            <!--the floating button-->

          

            <!--floating button end-->
           
            <div id="modal">
                <div id="modal-overlay"></div>
                <div id="modal-container">
                    <div class="modal-main" id="loader-modal">
                        <div>
                            <img src="https://custodianplc.com.ng/img/loader.gif">
                        </div>
                    </div>
                </div>
            </div>
            <partial name="_PrivacyConsent" />
            @RenderBody()
        </div>
       </div>

  <script src="~/vendor/sweetalert/sweetalert.all.js"></script>
  <script src="~/vendor/jquery/jquery.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/gijgo/1.7.0/combined/js/gijgo.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"
  type="text/javascript"
></script>

<script src="~/vendor/jquery/jquery.nav.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="~/vendor/jquery/jquery.validate.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="~/vendor/jquery.appear/jquery.appear.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="~/vendor/jquery.easing/jquery.easing.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="~/vendor/jquery-cookie/jquery-cookie.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>

<script src="~/vendor/air-datepicker/datepicker.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<!-- Include English language -->
<script src="~/vendor/air-datepicker/i18n/datepicker.en.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>

<script src="~/vendor/inputmask/dist/jquery.mask.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>

<script src="~/vendor/magnific-popup/jquery.magnific-popup.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="~/vendor/modernizr/modernizr.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="~/vendor/tether/tether.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="~/vendor/bootstrap/js/bootstrap.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="~/vendor/menuzord/menuzord.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="~/vendor/sticky/jquery.sticky.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="~/vendor/isotope/jquery.isotope.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="~/vendor/respond/respond.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="~/vendor/smoothscroll/smooth.scroll.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="~/vendor/images-loaded/imagesloaded.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="~/vendor/owl.carousel/owl.carousel.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="~/vendor/cubeportfolio/js/jquery.cubeportfolio.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="~/vendor/flex-slider/jquery.flexslider-min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="~/vendor/dzsparallaxer/dzsparallaxer.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="~/vendor/wow/wow.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="~/vendor/lite-tooltip/js/litetooltip.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="~/js/functions.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="~/js/theme.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>

<script src="~/js/custom.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>

<script src="~/vendor/style-switcher/style.switcher.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" id="styleSwitcherScript" data-base-path="" data-skin-src=""></script>
<script src="~/vendor/style-switcher/style.switcher.localstorage.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>
<script src="~/js/car.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>


<script src="~/vendor/node_modules/sweetalert2/dist/sweetalert2.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>


<script>

$('.datepicker').datepicker({
  uiLibrary: 'bootstrap4'
});

function printThis(){
  $("printMe").printElement();    
}

</script>


<script src="~/vendor/moment/moment-with-locales.min.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9"></script>

<!-- Include all library files -->
<script src="~/javascript/library/lib_core.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"> </script>
<script src="~/javascript/library/lib_date.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"> </script>
<script src="~/javascript/library/lib_val.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"> </script>
<script src="~/javascript/library/lib_file.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"> </script>
<script src="~/javascript/library/lib_api.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"> </script>
<script src="~/javascript/library/lib_dom.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"> </script>
<script src="~/javascript/library/lib_loader.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"> </script>
<script src="~/javascript/library/lib_currency.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"> </script>
<script src="~/javascript/library/lib_browser.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"> </script>

<script src="~/javascript/app/browser.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"> </script>
<script src="~/javascript/app/modal.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"> </script>
<script src="~/javascript/app/api.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"> </script>

<script src="~/javascript/parameters/app_parameters.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"></script>
<script src="~/javascript/controllers/app_controller.js?hash=ea92fe88f2f17ff24e4cddc35da5ede9" type="text/javascript"></script>
<script src="~/vendor/jquery/jquery.js"></script>
<script src="~/jquery-validate/jquery.validate.min.js"></script>
<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115610004-1"></script>

@await Html.PartialAsync("_GlobalScriptsPartial")
</body>
</html>