@using CustodianPlc.Models
@{
  Layout = "_SaftyPlus";
	@model PersonalInformationViewModel
  }
  <div class="stepwizard col-md-7 formtop-width" >
      <div class="stepwizard-row setup-panel">
        <div class="stepwizard-step">
          <a class="btn btn-primary disable btn-circle" href="#step-1" type="button">1</a>
          <p>Personal Information</p>
        </div>
        <div class="stepwizard-step">
          <a  class="btn btn-default disable btn-circle" href="#step-2" type="button" disabled>2</a>
          <p>Beneficiary Details</p>
        </div>
        <div class="stepwizard-step">
          <a class="btn btn-default disable btn-circle" href="#step-3" type="button">3</a>
          <p>Quote Summary</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7 form-sha" style="">
          @await Html.PartialAsync("_PersonalInformation")
      </div>
      